.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #1c1c1c;
  color: white;
  border-radius: 10px;
  padding: 2rem;
  max-width: 600px;
  width: 90%; 
  position: relative; /* Hace que el boton X este dentro del modal, gracias a position: absolute */
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  background: none;
  border: none;
}

.modal-content img {
  display: block;
  margin: 0 auto 1rem auto; 
  max-width: 70%;
  max-height: 350px;
  border-radius: 10px;
  object-fit: cover;
}
