.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #1c1c1c;
  color: white;
  border-radius: 10px;
  padding: 2rem;
  max-width: 600px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.modal-content img {
  display: block;
  margin: auto;   
  max-width: 70%;              
  max-height: 350px;          
  border-radius: 10px;
}
