.series-list {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;   
  gap: 1.5rem;
  padding: 1rem;
  width: 50%;               
}

.series-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: #1c1c1c;
  border-radius: 10px;
}

.series-item:hover {
  transform: scale(1.05);
}

.series-item h3 {
  color: white;
  font-size: 1rem;
  text-align: center;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
