.series-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  width: 70%
}

.series-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.series-item:hover {
  transform: scale(1.05);
}

.series-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.series-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0.5rem 0;
}

.series-info h3 {
  color: white;
  font-size: 1rem;
  margin: 0;
  flex: 1;
  text-align: left;
}


.no-image {
  width: 100%;
  height: 300px;             
  background-color: #333;      
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}